html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
body {
  background-color: #ede7f6;
  width: 400px;
  min-height: 400px;
  margin: 0;
  padding: 5px;
}
a {
  text-decoration: none;
}
li a {
  text-decoration: underline;
  color: #0288d1;
}
.quickstart-user-details-container {
  margin-top: 20px;
  line-height: 25px;
}
/* label color */
.input-field label {
  color: #6a1b9a;
}
/* label focus color */
.input-field input[type=placeholder] {
  color: #aa00ff;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #aa00ff;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #aa00ff;
  box-shadow: 0 1px 0 0 #aa00ff;
}
::-webkit-input-placeholder {
   color: #e3f2fd;
}

.warning{
  display: none;
}
.chip {
  background-color: #c62828;
  color: white;
}
